<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pods_Sales_InventorySystem.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Pods_Sales_InventorySystem.My.MySettings.podsdbConnectionString"
            connectionString="Server=.;Initial Catalog=podsdb;Persist Security Info=True;User ID=admin;Password=password;" />
        <add name="Pods_Sales_InventorySystem.My.MySettings.podsdbConnectionString1"
            connectionString="Data Source=.;Initial Catalog=podsdb;User ID=admin;Password=password;"
            providerName="System.Data.SqlClient" />
        <add name="Pods_Sales_InventorySystem.My.MySettings.con" connectionString="Server=.;Initial Catalog=podsdb;Persist Security Info=True;User ID=admin;Password=password"
            providerName="" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Pods_Sales_InventorySystem.My.MySettings>
            <setting name="myId" serializeAs="String">
                <value />
            </setting>
            <setting name="roleId" serializeAs="String">
                <value />
            </setting>
        </Pods_Sales_InventorySystem.My.MySettings>
    </userSettings>
</configuration>